* {
  box-sizing: border-box;
  font-family: 'valorant_font', sans-serif;
}

@font-face {
  font-family: 'valorant_font';
  src: url('../src/assets/fonts/valorant_font.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #E54B4D;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 